body{
	font-size: 13px;
}
// =====================================
#root{
	overflow: visible;
	overflow-x:hidden;
}
// =====================================
.table_hai_tab{
	thead{
		tr{
			th{
				font-weight: bold;
				color: #000;
			}
		}
	}
}
// =====================================
.csdl_tab{
	li{
		a{
			color: #000;
			span{
				svg{
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}
// =====================================
.card1{
	color: #333;
	.uk-card-header{
		.uk-card-title{
			font-size: 16px;
			span{
				color: red;
				margin-left: 5px;
			}
		}
	}
	.uk-card-body{
		max-height:fit-content;
		color: #333;
		font-size: 14px;
		>ul{
			margin-bottom: 0;
			&.active{
				>div{
					&:not(i){
						color: red;
					}
				}
			}
			li{
				padding: 5px 0;
				&:not(:last-child){
					border-bottom: 1px solid #ccc;
				}
			}
		}
		i{
			margin-right: 5px;
		}
		.txt{
			font-weight: bold;
			font-size: 15px;
			color: blue;
		}
	}
}
// =====================================
.card2{
	.card-header{
		h4{
			color: #fff;
			font-size: 15px;
		}
	}
	.card-body{
		background: #fff;
	}
}
// =====================================
.card3{
	.uk-card-header{
		color: #fff;
		h4{
			color: #fff;
			font-size: 17px;
		}
	}
	.uk-card-body{
		padding: 8px;
		.table{
			thead{
				tr{
					th{
						font-weight: bold;
						font-size: 14px;
					}
				}
			}
		}
	}
}
// =====================================

// =====================================

// =====================================

// =====================================

// =====================================

// =====================================